body {
	font: Helvetica, Sans-Serif;
}

#container {
	width: 800px;
	background-color: #e5dcbc;
}

h1{
  margin: 0;
}

h2{
  font-weight: bold;
  font-size: 1em;
  margin: 0;
  text-align: center;
}

h3{
  text-align: left;
  font-weight: bold;
  font-size: 1em;
  margin: 0;
}

p {
  margin: 0;
}

.header {
  text-align: center;
}

p.rightalign {
  text-align: right;
}

.rightalign {
  text-align: right;
}
