h1{
  font-size: 50;
  margin: 0;
}

h2{
  font-weight: bold;
  font-size: 1em;
  margin: 0;
  text-align: center;
}

p {
  margin: 0;
}

p.normal {
  font-weight: normal;
}

p.thick {
    font-weight: bold;
}

div.header {
  text-align: center;
}

p.rightalign {
  text-align: right;
}

.rightalign {
  text-align: right;
}
