h1{
  font-size: 28;
  margin: 0em;
}

h2{
  font-weight: bold;
  margin: 0em;
}

p {
  margin: 0em;
}

p.normal {
  font-weight: normal;
}

p.thick {
    font-weight: bold;
}

div.header {
  text-align: center;
}
